
body {
    background-color: rgb(43, 100, 175);
  }
  img {
    width: 10%;
    margin: 10px;
    border: solid;
    border-radius: 4px;
  }
p{
  text-align: left;
  width: 750px;
}

div {
  height: 200px;
}
h1{text-align: center;}

.title{
  border: solid 3px;
  border-color: rgb(5, 3, 3);
  border-radius: 10px;
 color: rgb(62, 199, 20);
  font-family: Cursice;
  background-color: rgb(118, 5, 141);
}

.character-images{
  float:left;
}

.small-text{
  font-size: 15px;
width: 375px;
color: #b91111;
}

.warning{
  text-align: center;

}

.html{
  cursor: pointer;

}

.html:hover{
  color: rgb(255, 4, 4);
}

.audio{
  position: absolute;
  left: 300;
}