
body {
    background-color: rgb(43, 100, 175);
  }
  img {
    float: left;
    width: 10%;
    margin: 10px;
    border: solid;
    border-radius: 4px;
  }
p{
  text-align: right;
  width: 750px;
}

div {
  height: 200px;
}
h1{text-align: center;}